body {
    font-family: sans-serif;
}

section {
    display: flex;
    flex-direction: column;
}

.mineP {
    display: flex;
    position: relative;
    width: 500px;
    display: flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 20px;
    background-color: #eeeeee;
    padding: 10px;
}

.progressButton .levelUp {
    display: block;
    width: 120px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    background-color: transparent;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 5px 10px;
    outline: none;

    margin-left: 10px;
}

.progressButton .levelUp:hover,
.progressButton .levelUp:focus {
    background-color: #a29f9f;
    color: rgb(69, 218, 64);
}

.progressButton .levelUp:active {
    background-color: #211b1b;
}

.mineP p {
    text-align: center;
}

.mineP img {
    max-width: 103px;
    max-height: 89px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.allMine {
    font-size: 20px;
    font-weight: 700;
    text-align: center;

    width: 103px;
    border: 2px solid gray;
    border-top: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    box-sizing: border-box;
    padding: 0 5px;
    
}

.disabled::before {
    content: "Для открытия нужен 10 уровень предыдущей шахты";
    position: absolute;
    top: 0;
    left: 0;
    width: 529px;
    height: 103%;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    font-weight: 700;
    color: white;
    text-align: center;
    box-sizing: border-box;
    line-height: 7;
    z-index: 3;

}

.progressButton {
    position: relative;
}

progress {
    background-color:  rgba(0, 128, 128, 0.664);
    border: 0;
    width: 200px;
    height: 35px;
    border-radius: 9px;
}

progress::-webkit-progress-bar {
    background-color: rgba(0, 128, 128, 0.664);
    border: 0;
    width: 200px;
    height: 35px;

    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
}
progress::-webkit-progress-value {
    border-top-right-radius: 9px;
    border-bottom-right-radius: 9px;
    background-color:rgb(255, 137, 2);
}

.silverProgress::-webkit-progress-value {
    background-color:rgb(202, 186, 168);
}

.goldProgress::-webkit-progress-value {
    background-color:rgb(243, 200, 10);
}

.imgLvl {
    display: flex;
    flex-direction: column;
}

.progressButton {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.moneyView {
    position: absolute;
    top: -7px;
    display: flex;
    justify-content: space-around;
    width: 200px;
    font-weight: 700;
}

